/*
*  Defaults
*/
body {
	font-family: 'Oswald', sans-serif;
	color: $mainTextColor;
}

/*
*  Helpers - classes that fix things anywhere and everywhere
*/

/* clearfix */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}