/* fonts */
body {
	font-family: 'Muli', sans-serif;
}
button.btn {
	font-size: .75em;
}

/* helpers */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.darkBox {
	background-color: #333;
	color: #FAFAFA;
}
.roundCorners {
	border-radius: 4px;
}
.hideText {
	text-indent: -9999px;
}
.cutInHalf {
	width: 45%;
}

/* browser outdated message */
.browsehappy {
	height: 100%; width: 100%;
	position: absolute;
	z-index: 1000;
	background-color: #1C3664;
	padding-top: 100px;
	color: #FFF;
	text-align: center;
}