#page-header {
  width: 60%;
  margin: 10px auto 0;
  img {
    max-width: 25%;
    float: left;
  }
  h1 {
    float: right;
    line-height: 27px;
    text-transform: uppercase;
  }
}

#search-stop {
  margin: 10px 0;
  background-color: $caltrainRed;
  text-align: center;
  position: relative;

  #search {
    width: 75%;
    margin: 20px 0;
    font-size: 16px;
    line-height: 25px;
    color: #FFF;
    text-align: center;
    border: none;
    border-bottom: 1px #FFF solid;
    background: none;

    &::-webkit-input-placeholder {
      color: #FFF;
    }
  }

  span {
    display: none;
  }

}

.ui-autocomplete {
  width: 75%;
  background-color: #FFF;
  opacity: .9;
  color: $caltrainRed;
  font-weight: 100;

  li {
    a {
      line-height: 30px;
    }
  }
}