#page-header {
  width: 60%;
  margin: 10px auto 0;
  img {
    max-width: 25%;
    float: left;
  }
  h1 {
    float: right;
    line-height: 27px;
    text-transform: uppercase;
  }
}

#search-stop {
  height: 100px;
  margin: 10px 0;
  background-color: $caltrainRed;
}