#page-header {
  width: 60%;
  margin: 10px auto 0;
  img {
    max-width: 25%;
    float: left;
  }
  h1 {
    float: right;
    line-height: 27px;
    text-transform: uppercase;
  }
}

#search-stop {
  margin: 10px 0;
  background-color: $caltrainRed;
  text-align: center;
  position: relative;

  #search {
    width: 75%;
    margin: 20px 0;
    font-size: 16px;
    line-height: 25px;
    color: #FFF;
    text-align: center;
    border: none;
    border-bottom: 1px #FFF solid;
    background: none;

    &::-webkit-input-placeholder {
      color: #FFF;
    }
  }

  button {
    padding: 10px;
    margin: 0 10px 20px;
    background: none;
    border: 1px #FFF solid;
    border-radius: 5px;
    color: #FFF;
    font: inherit;
    font-weight: 100;
    font-size: 12px;

    &.selected {
      background-color: #FFF;
      color: $caltrainRed;
    }
  }

  span {
    display: none;
  }

}

.ui-autocomplete {
  width: 75%;
  background-color: #FFF;
  opacity: .9;
  color: $caltrainRed;
  font-weight: 100;

  li {
    text-align: center;
    a {
      line-height: 30px;
    }
  }
}

#results {
  width: 90%;
  margin: 20px auto;
  li {
    float: left;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 100;

    &.heading {
      margin-bottom: 10px;
      text-transform: uppercase;

      font-weight: 400;
    }

    &:nth-child(3n + 1) {
      width: 30%;
      clear: left;
    }
    &:nth-child(3n + 2) {
      width: 50%;
    }
    &:nth-child(3n + 3) {
      width: 20%;
      text-align: right;
    }

    &.error {
      width: 100%;
    }
  }
}