/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
*  Defaults
*/
body {
  font-family: 'Oswald', sans-serif;
  color: #333333; }

strong {
  font-weight: 500; }

a {
  color: #dc3c41; }

a:hover {
  text-decoration: none; }

/*
*  Helpers - classes that fix things anywhere and everywhere
*/
/* clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

#page-header {
  width: 60%;
  margin: 10px auto 0; }
  #page-header img {
    max-width: 25%;
    float: left; }
  #page-header h1 {
    float: right;
    line-height: 27px;
    text-transform: uppercase; }

#search-stop {
  margin: 10px 0;
  background-color: #dc3c41;
  text-align: center;
  position: relative; }
  #search-stop #search {
    width: 75%;
    margin: 20px 0;
    font-size: 16px;
    line-height: 25px;
    color: #FFF;
    text-align: center;
    border: none;
    border-bottom: 1px #FFF solid;
    background: none; }
    #search-stop #search::-webkit-input-placeholder {
      color: #FFF; }
  #search-stop button {
    width: 25%;
    padding: 10px;
    margin: 0 10px 20px;
    background: none;
    border: 1px #FFF solid;
    border-radius: 5px;
    color: #FFF;
    font: inherit;
    font-weight: 100;
    font-size: 12px; }
    #search-stop button.selected {
      background-color: #FFF;
      color: #dc3c41; }
  #search-stop span {
    display: none; }

.ui-autocomplete {
  width: 75%;
  background-color: #FFF;
  opacity: .9;
  color: #dc3c41;
  font-weight: 100; }
  .ui-autocomplete li {
    text-align: center; }
    .ui-autocomplete li a {
      line-height: 30px; }

#introduction {
  width: 90%;
  max-width: 980px;
  margin: 0 auto; }
  #introduction h3 {
    font-size: 1.2em; }
  #introduction p {
    font-weight: 100;
    margin: 10px 0;
    line-height: 20px; }

#results {
  width: 90%;
  max-width: 980px;
  margin: 20px auto; }
  #results li {
    float: left;
    text-transform: lowercase;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 10px; }
    #results li.heading {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-weight: 400; }
    #results li:nth-child(3n + 1) {
      width: 30%;
      clear: left; }
    #results li:nth-child(3n + 2) {
      width: 50%; }
    #results li:nth-child(3n + 3) {
      width: 20%;
      text-align: right; }
    #results li.error {
      width: 100%; }

#twitter-heading {
  bottom: 0;
  width: 100%;
  position: absolute;
  display: block;
  background-color: #dc3c41;
  color: #FFF;
  line-height: 50px;
  text-align: center; }

.twitter-timeline {
  bottom: 0;
  height: 0;
  width: 100% !important;
  position: absolute;
  display: none; }

@media (min-width: 960px) {
  #page-header h1 {
    font-size: 2em;
    line-height: 3em; } }

/*# sourceMappingURL=styles.css.map */
